    .pc__hidden {
        display: none;
    }
    
    div.content-mid {
        width: 80%;
        margin: 0px auto;
    }
    
    div.container-fluid {
        padding: 0;
    }
    
    div.container-link {
        width: 100%;
        padding: 6px 190px;
        border-top: 0.1px solid #333;
    }
    
    div.container-link div.container-hello {
        background: #e1e1e1;
        background: radial-gradient(circle, #e1e1e1 0%, #f4f4f4 100%);
        text-align: center;
        line-height: 20px;
        margin: 10px;
    }
    
    div.detail-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div.detail-info div.info_img {
        width: 30%;
    }
    
    div.detail-info div.info_img img {
        padding: 10px;
        width: 100%;
        object-fit: cover;
    }
    
    div.detail-info div.info_title {
        width: 70%;
    }
    
    div.detail-info div.info_title p {
        font-size: 18px;
        margin: 10px;
    }
    
    div.detail-info div.info_title h5 {
        margin: 40px 0px 50px 0px;
        font-style: italic;
        color: red;
    }
    
    div.detail-info div.info_title a {
        padding: 7px 35px;
        margin: 15px;
        border-radius: 52px;
        box-shadow: 0px 3px 3px grey;
        text-decoration: none;
        background-color: #55efc4;
        color: black;
        transition: all 0.3s;
    }
    
    div.detail-info div.info_title a.logout {
        background-color: #f53b57;
        color: black;
    }
    
    div.detail-info div.info_title a:hover {
        opacity: 0.7;
        box-shadow: none;
    }
    
    @media screen and (max-width:740px) {
        .pc__hidden {
            display: block;
            padding: 7px;
        }
        div.container-fluid {
            padding: 0;
        }
        div.container-link {
            width: 100%;
            padding: 0px;
            border-top: 0.1px solid #333;
        }
        div.container-link div.container-hello {
            background: #e1e1e1;
            background: radial-gradient(circle, #e1e1e1 0%, #f4f4f4 100%);
            text-align: center;
            line-height: 20px;
            margin: 0px;
        }
        div.detail-info div.info_title {
            width: 70%;
        }
        div.detail-info div.info_title p {
            font-size: 13px;
            margin: 10px;
        }
        div.detail-info div.info_title h5 {
            margin: 10px 0px 10px 0px;
            font-style: italic;
            color: red;
        }
        div.detail-info div.info_title a {
            padding: 7px 35px;
            border-radius: 52px;
            box-shadow: 0px 3px 3px grey;
            text-decoration: none;
            background-color: #55efc4;
            color: black;
            transition: all 0.3s;
        }
        div.detail-info div.info_title a.logout {
            background-color: #f53b57;
            color: black;
        }
        div.detail-info div.info_title a:hover {
            opacity: 0.7;
            box-shadow: none;
        }
    }